* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

.swiper-container {
    overflow: hidden;
    position: relative;
}

.swiper {
    -webkit-transition: all 1s;
    transition: all 1s;
    left: 0;
    top: 0;
    position: absolute;
}

.swiper .slider {
    display: inline-block;
    float: left;
}

.navigation {
    font-size: 12px;
    font-family: "宋体";
    position: absolute;
    width: inherit;
    text-align: center;
    top: 80%;
}

.nav {
    background: rgba(0, 200, 200, 1);
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    margin: auto .2em;
    cursor: default;
    border: 0.5px solid #fff;
}

.scaleOut {
    -webkit-animation: scaleOut 1s linear farwards;
    -o-animation: scaleOut 1s linear farwards;
    animation: scaleOut 1s linear farwards;
}

@keyframes scaleOut {
    from {
        transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
    }
    to {
        transform: scale(0.5, 0.5);
        -webkit-transform: scale(0.5, 0.5);
        opacity: 0;
    }
}

@-webkit-keyframes scaleOut {
    from {
        transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
    }
    to {
        transform: scale(0.5, 0.5);
        -webkit-transform: scale(0.5, 0.5);
        opacity: 0;
    }
}

.scaleIn {
    -webkit-animation: scaleOut 1s linear none;
    -o-animation: scaleOut 1s linear none;
    animation: scaleOut 1s linear none;
}

@keyframes scaleOut {
    from {
        transform: scale(0.5, 0.5);
        -webkit-transform: scale(0.5, 0.5);
        opacity: 0;
    }
    to {
        transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        opacity: 1;
    }
}

@-webkit-keyframes scaleOut {
    from {
        transform: scale(0.5, 0.5);
        -webkit-transform: scale(0.5, 0.5);
        opacity: 0;
    }
}

to {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    opacity: 1;
}


}
